{% extends 'base.html.twig' %}

{% block body %}
    <h1>Information_customers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Heading</th>
                <th>Text</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information_customer in information_customers %}
            <tr>
                <td><a href="{{ path('information_customer_show', { 'id': information_customer.id }) }}">{{ information_customer.id }}</a></td>
                <td>{{ information_customer.heading }}</td>
                <td>{{ information_customer.text }}</td>
                <td>{% if information_customer.createdAt %}{{ information_customer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('information_customer_show', { 'id': information_customer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('information_customer_edit', { 'id': information_customer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('information_customer_new') }}">Create a new information_customer</a>
        </li>
    </ul>
{% endblock %}
