{% extends 'base.html.twig' %}

{% block body %}
    <h1>Found_iteme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ found_iteme.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ found_iteme.name }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ found_iteme.photo }}</td>
            </tr>
            <tr>
                <th>Foundon</th>
                <td>{% if found_iteme.foundOn %}{{ found_iteme.foundOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Foundarea</th>
                <td>{{ found_iteme.foundArea }}</td>
            </tr>
            <tr>
                <th>Otherinfo</th>
                <td>{{ found_iteme.otherInfo }}</td>
            </tr>
            <tr>
                <th>Contactinfo</th>
                <td>{{ found_iteme.contactInfo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('found_itemes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('found_itemes_edit', { 'id': found_iteme.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
