{% extends 'userBundle/BaseTemplate/User_base.html.twig' %}
{% block stylesheet %}

    <style>
        a {
            color: #007bff;
        }
        body {
            background: #f8f8f8;
        }




    </style>
    <link rel="stylesheet" href="{{ asset('UserBundle/css/information.css') }}">

{% endblock %}
{% block body %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <section class="content-item grey" id="blog-item">
        <div class="container" style="border: 2px solid #eee;">
            <div class="row">
                <!-- BLOG POST - START -->
                <div class="col-sm-8 blog">
                    <h2>About {{ user }}</h2>
                    <ul class="blog-detail list-unstyled list-inline">
                        <li><i class="fa fa-calendar"></i> {{ user.createdAt|date('d-m-Y') }}</li>
                        <li><i class="fa fa-clock-o"></i> {{ user.createdAt|date('H:i:s') }}</li>
                    </ul>

                    {% for information_customer in information %}
                    <div class="title">{{ information_customer.heading }}</div>
                    <p>
                        {{ information_customer.text }}
                    </p>
                    {% endfor %}

                </div>
                <!-- BLOG POST - END -->

                <!-- SIDEBAR - START
                <div class="col-sm-4">
                    <div class="sidebar">
                        <h3>Categories</h3>
                        <div class="box categories">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('user_index') }}"><i class="fa fa-home"></i>Home</a></li>
                                <li><a href="#"><i class="fa fa-paint-brush"></i>Design</a></li>
                                <li><a href="#"><i class="fa fa-music"></i>Music</a></li>
                                <li><a href="#"><i class="fa fa-plane"></i>Travel</a></li>
                                <li><a href="#"><i class="fa fa-hashtag"></i>Uncategorized</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
               -->
            </div>
        </div>
    </section>

{% endblock %}
{% block javascript %}

{% endblock %}


