{% extends 'base.html.twig' %}

{% block body %}
    <h1>Frontend_about</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frontend_about.id }}</td>
            </tr>
            <tr>
                <th>Headingsection</th>
                <td>{{ frontend_about.headingSection }}</td>
            </tr>
            <tr>
                <th>Descriptionsection</th>
                <td>{{ frontend_about.descriptionSection }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if frontend_about.createdAt %}{{ frontend_about.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('frontend_about_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('frontend_about_edit', { 'id': frontend_about.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
