{% extends 'CustomerBundle/baseTemplate/customer_base.html.twig' %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="sticky-wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                    <div class="navbar-collapse">
                        <div class="navbar-left">
                            <ol class="breadcrumb" style="    padding: 4px 15px;padding-top: 16px;margin-bottom: -2px;list-style: none;background-color: #f8f8f8;border-radius: 4px;">
                                <li><a href="{{ path('customer_index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                                <li ><a href="{{ path('information_customer_index') }}">Information</a></li>
                                <li class="active">Edit</li>
                            </ol>
                        </div>



                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="sonata-action-element" href="{{ path('information_customer_new') }}"><i class="fa fa-plus-circle"></i>
                                    Add new</a></li>
                        </ul>



                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Update <strong>{{ information_customer.id }}</strong> for itemes</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">



                {{ form_start(edit_form) }}
                <div class="form-group">
                    <label for="logo">Heading</label>
                    {{ form_widget(edit_form.heading, { 'attr': {'class': 'form-control' } }) }}
                    <span class="help-block" style="color: red;">{{ form_errors(edit_form.heading) }}</span>

                </div>
                <div class="form-group">
                    <label for="logo">Text</label>
                    {{ form_widget(edit_form.text, { 'attr': {'class': 'form-control' } }) }}
                    <span class="help-block" style="color: red;">{{ form_errors(edit_form.text) }}</span>

                </div>







            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and return to list</button>
                {{ form_end(edit_form) }}
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
{% endblock %}
{% block javascript %}

{% endblock %}


