{% trans_default_domain 'FOSUserBundle' %}
{% extends 'adminBundle/baseTemplate/admin_base.html.twig' %}
{% block stylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">

    <style>
        #users_filter{
            float: right;
        }
        div.dataTables_paginate {float: right}
        .map_canvas {
            background: transparent url({{ asset('AdminBundle/images/ajax-loading.gif') }}) no-repeat center center;}
        .help-block{
            color: #dd4b39;
        }
    </style>
{% endblock %}
{% block body %}

    <script>
        function myFunction() {
            var x =  document.getElementById("app_user_registration_plainPassword_first");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="sticky-wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                    <div class="navbar-collapse">
                        <div class="navbar-left">
                            <ol class="breadcrumb" style="    padding: 4px 15px;padding-top: 16px;margin-bottom: -2px;list-style: none;background-color: #f8f8f8;border-radius: 4px;">
                                <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                                <li class="active"><a href="{{ path('user_index') }}">user</a> </li>
                                <li class="active">Edit</li>
                            </ol>
                        </div>



                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('fos_user_registration_register') }}">add new</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('user_index') }}">Return to list</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- Main content -->
    <section class="content" style="padding-top: 0px;">

        <div class="box">
            {{ form_start(form, { 'attr': {'class': 'fos_user_registrationnn_register','data-toggle': 'validator','role': 'form'}}) }}
            <div class="form-group " id="fos_user_registration_form">
                    {# form_errors.html.twig #}



                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Profile</h3>
                                    </div>
                                    <div class="box-body">


                                        <div class="form-group  ">
                                            <select class="form-control" id="roleuser" name="role" required>
                                                <option value="">Select Role</option>
                                                <option value="ROLE_ADMIN" >Role admin</option>
                                                <option value="ROLE_CUSTOMER">Role customer</option>
                                            </select>
                                        </div>

                                        <!--username-->
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">{{ form_label(form.email) }}</label>
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                                            <span class="help-block">{{ form_errors(form.email) }}</span>
                                        </div>
                                        <!--endusername-->


                                        <div class="form-group">
                                            <label for="exampleInputEmail1">{{ form_label(form.username) }}</label>
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                                            <span class="help-block">{{ form_errors(form.username) }}</span>
                                        </div>

                                        <!--password-->
                                        <!--password-first -->


                                        <!--endpassword-->
                                    </div>

                                </div>
                            </div>



                            <div class="col-md-6" >
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">General</h3>
                                    </div>

                                    <div class="box-body">




                                        <div class="form-group">
                                            <label for="logo">Category</label>
                                            {{ form_widget(form.category, { 'attr': {'class': 'form-control' } }) }}
                                            <span class="help-block">{{ form_errors(form.category) }}</span>

                                        </div>





                                        <div class="form-group">
                                            <label for="logo">URL</label>
                                            {{ form_widget(form.url, { 'attr': {'class': 'form-control', 'placeholder': 'url'|trans } }) }}
                                            <p>url of customer</p>
                                        </div>
                                        <div class="form-group ">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="Enabled" checked>Enabled
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="registred">registered
                                                </label>
                                            </div>
                                        </div>
                                        <hr>
                                        {% if user.picture is null %}
                                            <div class="form-group"  id="imageset">
                                                <label  class="col-sm-4 control-label">{{ form_label(form.picture) }} <span class="champ">*</span></label>
                                                <div class="col-sm-8" style="margin-bottom: 12px">
                                                    {{ form_widget(form.picture, {'attr': {'required': 'required'}}) }}

                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group" style='display: none;' id="imageset">
                                                <label  class="col-sm-4 control-label">{{ form_label(form.picture) }} <span class="champ">*</span></label>
                                                <div class="col-sm-8" style="margin-bottom: 12px">
                                                    {{ form_widget(form.picture) }}

                                                </div>
                                            </div>




                                            <div class="form-group" id="imagepreview"  style='display: inline;'>
                                                <label for="logo">Logo of customer : </label>
                                                <img src="{{ asset('uploads/logoUser/'~user.picture) }}" width="100" height="100">
                                                <span >
                                                        <a href="#" class="delete_product_image btn btn-sm btn-warning" data-id="{{ user.Id }}"  style="margin-top: 67px;float: right;">delete image</a>

                                                </span>

                                            </div>
                                        {% endif %}



                                    </div>
                                </div>


                            </div>
                        </div>


                        <hr>


                        <div class="row">
                            <div class="col-md-5">
                                <div id="map" class="map_canvas" style="width:405px;height:400px;"></div>

                                <div class="input-group input-group-sm">
                                    <input type="text" id="geocomplete" class="form-control"  placeholder="Type in an address" value="Beuth-hochschile" >
                                    <span class="input-group-btn">
                                        <button type="button" id="find" class="btn btn-info btn-flat">Go!</button>
                                        </span>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Location</h3>
                                    </div>

                                    <div class="box-body">


                                        <div class="form-group">
                                            <label for="con" class="col-sm-4 control-label">Country:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">

                                                <input type="text" id="con"  name="country" required class="form-control" value="{{ user.country }}">

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">State:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">
                                                <input type="text"  name="administrative_area_level_1" required class="form-control" value="{{ user.state }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">Adresse:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">
                                                <input type="text"  name="formatted_address" required class="form-control" value="{{ user.adresse }}">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">Zip code:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">
                                                <input type="text"  name="postal_code" required class="form-control" value="{{ user.zip }}">
                                            </div>
                                        </div>

                                        <div class="form-group" >
                                            <label for="inputEmail3" class="col-sm-4 control-label">Latitude:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">
                                                <input type="text"  name="lat" required="required" class="form-control" value="{{ user.latitude }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">Longitude:</label>
                                            <div class="col-sm-8" style="margin-bottom: 13px;">
                                                <input type="text"  name="lng" required="required" class="form-control" value="{{ user.longitude }}">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="box-footer">
                        <button type="submit" id="s" class="btn btn-success" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and return to list</button>

                    </div>



                </div>




            {{ form_rest(form) }}


            {{ form_end(form, {'render_rest': false}) }}
        </div>

        <!-- /.box -->

    </section>

{% endblock %}


{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5xiB5BmcmWyQjqOsxn7j-gJWt0R79w5k&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
    <script src="{{ asset('AdminBundle/plugins/bootbox/bootbox.js') }}"></script>

    <script>
        $(document).ready(function() {


            //role
            var role = '{{ user.roles[0] }}';
            $('#roleuser').val(role).change();

            var latitude = '{{ user.latitude }}';
            var longitude = '{{ user.longitude }}';



            //status
            var statue ='{{ user.enabled }}' ;
            if(statue === ''){
                $('input:radio[name="optionsRadios"]').filter('[value="registred"]').attr('checked', true);
            }else{
                $('input:radio[name="optionsRadios"]').filter('[value="Enabled"]').attr('checked', true);

            }




            //geocomplete
            $("#geocomplete").geocomplete({
                map: ".map_canvas",
                mapOptions: {
                    zoom: 10
                },
                //initialize google map
                location: [latitude,longitude],

                details: "form",
            });
            //geocomplete
            $("#find").click(function(){

                $("#geocomplete").trigger("geocode");


            });


            $('.delete_product_image').click(function() {
                var id= $(this).data("id");
                bootbox.confirm("Are you sure want to delete this image?", function(result) {
                    if(result){
                        $.ajax({
                            cache: false,
                            dataType: 'json',
                            url: Routing.generate('DeletlogouserbyId', {id: id}),

                            data: {
                                'id': id
                            },

                            success: function (response) {
                                $("#imageset").show();
                                $("#imagepreview").hide();

                                toastr.success('Deleted!', 'image')

                            }
                        });

                    }
                });
            });
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "700",
                "hideDuration": "700",
                "timeOut": "4000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };



        });
    </script>
{% endblock %}