{% trans_default_domain 'FOSUserBundle' %}
{% extends 'adminBundle/baseTemplate/admin_base.html.twig' %}
{% block stylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">

    <style>
        #users_filter{
            float: right;
        }
        div.dataTables_paginate {float: right}
        .map_canvas {
            background: transparent url({{ asset('AdminBundle/images/ajax-loading.gif') }}) no-repeat center center;}
        .help-block{
            color: #dd4b39;
        }
    </style>
{% endblock %}
{% block body %}
    <script>
        function myFunction() {
            var x =  document.getElementById("fos_user_registration_form_plainPassword_first");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="sticky-wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                    <div class="navbar-collapse">
                        <div class="navbar-left">
                            <ol class="breadcrumb" style="    padding: 4px 15px;padding-top: 16px;margin-bottom: -2px;list-style: none;background-color: #f8f8f8;border-radius: 4px;">
                                <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                                <li class="active"><a href="{{ path('user_index') }}">user</a> </li>
                                <li class="active">Create</li>
                            </ol>
                        </div>



                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('fos_user_registration_register') }}">add new</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('user_index') }}">Return to list</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <!-- Main content -->
    <section class="content" style="padding-top: 0px;">

            <div class="box">
                <form action="{{ path('fos_user_registration_register') }}"  class="fos_user_registration_register" enctype="multipart/form-data" method="POST">
                    <div class="form-group " id="fos_user_registration_form">
                {# form_errors.html.twig #}



                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Profile</h3>
                                </div>
                                <div class="box-body">


                                            <div class="form-group  ">
                                                <select class="form-control " name="role" required>

                                                    <option value="">Select Role</option>
                                                    <option value="admin">Role admin</option>
                                                    <option value="customer">Role customer</option>
                                                </select>
                                            </div>

                                            <!--username-->


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">{{ form_label(form.email) }}</label>
                                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                                                <span class="help-block">{{ form_errors(form.email) }}</span>
                                            </div>
                                            <!--endusername-->


                                            <div class="form-group">
                                                <label for="exampleInputEmail1">{{ form_label(form.username) }}</label>
                                                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                                                <span class="help-block">{{ form_errors(form.username) }}</span>
                                            </div>

                                            <!--password-->
                                            <!--password-first -->
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">{{ form_label(form.plainPassword.first) }}</label>
                                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                                                <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span>
                                                <input type="checkbox" onclick="myFunction()">Show Password
                                            </div>
                                            <!--password-second -->
                                            <div class="form-group">
                                                <label for="exampleInputPassword2">{{ form_label(form.plainPassword.second) }}</label>
                                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                                                <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span>
                                            </div>

                            <!--endpassword-->
                                </div>

                            </div>
                        </div>



                        <div class="col-md-6" >
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">General</h3>
                                </div>

                                <div class="box-body">


                                    <div class="form-group">
                                        <label for="logo">Category</label>
                                        {{ form_widget(form.category, { 'attr': {'class': 'form-control' } }) }}
                                        <span class="help-block">{{ form_errors(form.category) }}</span>

                                    </div>


                                    <div class="form-group">
                                            <label for="logo">Logo</label>
                                            {{ form_widget(form.picture, { 'attr': {'class': 'form-control' ,'required':'required'} }) }}
                                            <p>Logo of customer</p>
                                            <span class="help-block">{{ form_errors(form.picture) }}</span>

                                    </div>



                                    <div class="form-group">
                                            <label for="logo">URL</label>
                                            {{ form_widget(form.url, { 'attr': {'class': 'form-control', 'placeholder': 'url'|trans } }) }}
                                            <p>url of customer</p>
                                        </div>
                                    <div class="form-group ">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="Enabled" checked>Enabled
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="registred">registered
                                            </label>
                                        </div>
                                    </div>



                                </div>
                            </div>


                             </div>
                        </div>


                <hr>


                        <div class="row">
                                <div class="col-md-5">
                                    <div id="map" class="map_canvas" style="width:405px;height:400px;"></div>

                                    <div class="input-group input-group-sm">
                                        <input type="text" id="geocomplete" class="form-control"  placeholder="Type in an address" value="Beuth-hochschile" >
                                        <span class="input-group-btn">
                                        <button type="button" id="find" class="btn btn-info btn-flat">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            <div class="col-md-6" >
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Location</h3>
                                    </div>

                                      <div class="box-body">


                                            <div class="form-group">
                                                <label for="con" class="col-sm-4 control-label">Country:</label>
                                                <div class="col-sm-8" style="margin-bottom: 13px;">

                                                    <input type="text" id="con"  name="country" required class="form-control">

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">State:</label>
                                                <div class="col-sm-8" style="margin-bottom: 13px;">
                                                    <input type="text"  name="administrative_area_level_1" required class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">Adresse:</label>
                                                <div class="col-sm-8" style="margin-bottom: 13px;">
                                                    <input type="text"  name="formatted_address" required class="form-control">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">Zip code:</label>
                                                <div class="col-sm-8" style="margin-bottom: 13px;">
                                                    <input type="text"  name="postal_code" required class="form-control">
                                                </div>
                                            </div>

                                       </div>
                                 </div>
                            </div>
                            </div>
                        </div>



                        <div class="box-footer">
                            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>

                        </div>



                </div>




                    {{ form_rest(form) }}

                </form>

            </div>

        <!-- /.box -->

    </section>
{% endblock %}


{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5xiB5BmcmWyQjqOsxn7j-gJWt0R79w5k&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
<script>
    $(document).ready(function() {




        $("#geocomplete").geocomplete({
            map: ".map_canvas",
            mapOptions: {
                zoom: 10
            },
            //initialize google map
            location: ['52.5319321','13.2458872'],

            details: "form",
        });


        $("label[for='fos_user_registration_form_firstname']").hide();
        $('#fos_user_registration_form_firstname').hide();

        $("label[for='fos_user_registration_form_lastname']").hide();
        $('#fos_user_registration_form_lastname').hide();


        $("#find").click(function(){

            $("#geocomplete").trigger("geocode");



        });
    });
</script>
{% endblock %}