
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="{{ path('dashboard') }}">
                    <i class="fa fa-th"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> List</a></li>
                    <li><a href="{{ path('categorie_user_index') }}"><i class="fa fa-circle-o"></i> Category User</a></li>
                </ul>
            </li>

            <li>
                <a href="{{ path('category_itemes_index') }}">
                    <i class="fa fa-list"></i> <span>Categoty Itemes</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-globe"></i>
                    <span>Front-end</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('frontend_about_index') }}"><i class="fa fa-circle-o"></i>About section</a></li>
                    <li><a href="{{ path('frontend_services_index') }}"><i class="fa fa-circle-o"></i>Services section</a></li>
                    <li><a href="{{ path('frontend_contact_us_index') }}"><i class="fa fa-circle-o"></i>Contact section</a></li>
                </ul>
            </li>




        </ul>
    </section>
    <!-- /.sidebar -->
</aside>